/*img#backimg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("http://i.imgur.com/EJADHVM.jpg") no-repeat;
    background-size: cover;
}*/

#top {
    background-color: black;
    color: white;
}

/*#welcome {
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
    margin: 1% 0 0 1%;
    opacity: .9;
    font-size: 6em;
    color: #D90429;
    text-shadow: 3px 10px 3px #2B2D42;
}*/

a {
    text-decoration: none;
    color: white;
}
#bar {
    color: white;
    font-size: 15pt;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-left: 1px solid #D90429;
}
#bar:hover {
    color: #D90429;
    font-size: 16pt;
    box-shadow: 1px .2px 1px #1682A2;
}
a:visited {
    color: #D90429;
}
#myTypingText {
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
    margin: 1% 0 0 1%;
    opacity: .9;
    font-size: 5em;
    color: #1682A2;
    text-shadow: 3px 8px 3px #00275A;
    line-height: 1.5em;
}

/*img {
    margin-top: 2%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 80%;
}*/

.spade {
    top: 0px;
    left: 0px;
    margin-left: 70.8%;
    margin-top: 5.6%;
    z-index: 20;
    max-height: 9%;
    width: auto;
    animation: mymove infinite 5s linear;
    position: absolute;
}
.App-logo {
    margin-top: 5%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 70%;
    width: auto;
    z-index: 10;
    animation: spin infinite 50s linear;
    max-height: 12%;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes mymove {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*.slidin {
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-top: 5%;
} */

.port .row h2 {
    margin-top: 40%;
}
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:700,300');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
}

/* fast reset */

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    list-style: none;
}

/*.container {
    margin: 0px 20% 0px 20%;
}*/


/*#head {
    margin-top: 20px;
}*/

#menu .box {
    position: fixed;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu ul {
    position: relative;
    top: 20%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu li {
    display: inline-block;
    margin: 20px;
}
#menu li a {
    border-radius: 3px;
    padding: 15px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#menu li a:hover {
    border-color: #fff;
}
#menu li a i {
    margin-right: 5px;
    font-size: 24px;
}
#toggle-nav-label {
    color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 500;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
#toggle-nav {
    display: none;
}
#toggle-nav:checked~ .box {
    opacity: 1;
    z-index: 400;
}
#toggle-nav:checked~ .box ul {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#toggle-nav:checked~ #toggle-nav-label {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
}
#content {
    margin: 20px 0px 20px 0px;
}
#content h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
#content p {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.menu {
    list-style: none;
    margin: 50px auto;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
.menu> li {
    background: #00275A;
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
}
.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}
.menu li:hover {
    background: #1682A2;
}
.menu> li> a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
}

/* Dropdown */

.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
}
.submenu li {
    background-color: #5F9ACE;
    position: relative;
    overflow: hidden;
}
.submenu> li> a {
    padding: 1em 2em;
}
.submenu> li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

/* Odd stuff */

.submenu> li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
}
.submenu> li:nth-child(odd)> a {
    -webkit-transform: skewX(25deg);
}
.submenu> li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
}

/* Even stuff */

.submenu> li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
}
.submenu> li:nth-child(even)> a {
    -webkit-transform: skewX(-25deg);
}
.submenu> li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */

.submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
}
.submenu li {
    transition: .2s ease -webkit-transform;
}
.menu> li:hover .submenu, .menu> li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}
.menu> li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(15px);
}
.menu> li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
}
.contentt, section {
    background: #00275A;
}
.panda {
    background: #00275A;
    padding: 3%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 0;
    border-right: 2px solid #1682A2;
    border-left: 2px solid #1682A2;
    border-top: 2px solid #1682A2;
}
#familyPic {
    width: 100%;
    height: auto;
}
.panda h2 {
    font-size: 30pt;
    color: #1682A2;
    border-bottom: 1px solid white;
}
section {
    text-align: center;
}
.askArcell {
    margin-bottom: 5%;
    font-size: 15pt;
    padding: 1% 5% 5% 5%;
    color: black;
    text-align: center;
    background-color: #1682A2;
}
.askArcell h2 {
    padding-bottom: 2%;
    font-size: 40pt;
    border-bottom: 2px solid white;
}
.askArcell p {
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 5%;
}
.imput {
    background-color: #00275A;
    border-radius: 10px;
    padding: 5%;
    border: 2px solid #5F9ACE;
}
